$background-color: #fcf0cc;
$text-color: #d86fa3;
$hover-color: blueviolet;
$border-color: black;

$preferred-font: "Dancing Script";
$backup-font: cursive;

$text-align: center;
$text-decoration: none;
$list-style: none;
$display: flex;